In [1]:
import pandas as pd 
import json

import warnings
warnings.filterwarnings('ignore')

In [23]:
with open('./scrapped_cities_data_2024-10-01.json') as f:
    data = json.load(f)

# Extract data from nested dictionary structure
extracted_data = []

# Loop through the outer structure
for outer_key in data:
    for inner_key in data[outer_key]:
        extracted_data.append(data[outer_key][inner_key])

# Convert the extracted data into a pandas DataFrame
df = pd.DataFrame(extracted_data)

df.head(20)

,City Name,Category,Description,Link
0,Ashgabat,Design,About the Creative City:Situated in a pictures...,https://www.unesco.org/en/creative-cities/ashg...
1,Gangneung,Gastronomy,About the Creative City: The city of Gangneung...,https://www.unesco.org/en/creative-cities/gang...
2,Casablanca,Media Arts,About the Creative City:Casablanca is a major ...,https://www.unesco.org/en/creative-cities/casa...
3,Valencia,Design,About the Creative City: Valencia emphasizes t...,https://www.unesco.org/en/creative-cities/vale...
4,Veliky Novgorod,Music,About the Creative City: Veliky Novgorod Creat...,https://www.unesco.org/en/creative-cities/veli...
5,Ouarzazate,Film,About the Creative City: Ouarzazate is conside...,https://www.unesco.org/en/creative-cities/ouar...
6,Penedo,Film,About the Creative City: Penedo thrives on cul...,https://www.unesco.org/en/creative-cities/pene...
7,Granada,Design,"About the Creative City: Granada, in Nicaragua...",https://www.unesco.org/en/creative-cities/gran...
8,Bydgoszcz,Music,"About the Creative City: In Bydgoszcz, music h...",https://www.unesco.org/en/creative-cities/bydg...
9,Battambang,Gastronomy,About the Creative City: Battambang's designat...,https://www.unesco.org/en/creative-cities/batt...
10,Banja Luka,Music,About the Creative City:The Creative City of B...,https://www.unesco.org/en/creative-cities/banj...
11,Valencia,Design,About the Creative City: Valencia emphasizes t...,https://www.unesco.org/en/creative-cities/vale...
12,Buffalo City,Literature,About the Creative City: Literature has played...,https://www.unesco.org/en/creative-cities/buff...
13,Montreux,Music,About the Creative City: Montreux has long mad...,https://www.unesco.org/en/creative-cities/mont...
14,Novi Sad,Media Arts,About the Creative City: Designated European Y...,https://www.unesco.org/en/creative-cities/novi...
15,Toulouse,Music,About the Creative City: From mediaeval lyric ...,https://www.unesco.org/en/creative-cities/toul...
16,Varaždin,Music,About the Creative City: The City of Varaždin ...,https://www.unesco.org/en/creative-cities/vara...
17,Nkongsamba,Gastronomy,About the Creative City: Steeped in a rich agr...,https://www.unesco.org/en/creative-cities/nkon...
18,Mexicali,Music,About the Creative City: As the music capital ...,https://www.unesco.org/en/creative-cities/mexi...
19,Kutaisi,Literature,About the Creative City: The city of Kutaisi h...,https://www.unesco.org/en/creative-cities/kuta...

In [13]:
df = df[df['City Name'] != 'City name not found'].reset_index(drop=True)

In [20]:
def check(df):
    l = []
    columns = df.columns
    for col in columns:
        instances = df[col].count()
        dtypes = df[col].dtype
        unique = df[col].nunique()
        sum_null = df[col].isnull().sum()
        duplicates = df.duplicated().sum()
        l.append([col, dtypes, instances, unique, sum_null, duplicates])
    df_check = pd.DataFrame(l, columns=["column", "dtype", "instances", "unique", "sum_null", "duplicates"])
    return df_check
check(df)

        column   dtype  instances  unique  sum_null  duplicates
0    City Name  object        349     349         0           0
1     Category  object        349       7         0           0
2  Description  object        349     349         0           0
3         Link  object        349     349         0           0

In [17]:
all_duplicates = df[df['City Name'].duplicated(keep=False)]
print(all_duplicates)

     City Name    Category                                        Description  \
0     Ashgabat      Design  About the Creative City:Situated in a pictures...
1    Gangneung  Gastronomy  About the Creative City: The city of Gangneung...
3     Valencia      Design  About the Creative City: Valencia emphasizes t...
7      Granada      Design  About the Creative City: Granada, in Nicaragua...
11    Valencia      Design  About the Creative City: Valencia emphasizes t...
29   Gangneung  Gastronomy  About the Creative City: The city of Gangneung...
43    Ashgabat      Design  About the Creative City:Situated in a pictures...
296    Granada  Literature  Granada, the first Spanish-speaking UNESCO Cit...

                                                  Link
0    https://www.unesco.org/en/creative-cities/ashg...
1    https://www.unesco.org/en/creative-cities/gang...
3    https://www.unesco.org/en/creative-cities/vale...
7    https://www.unesco.org/en/creative-cities/gran...
11   https://www.unesco.org/en/creative-cities/vale...
29   https://www.unesco.org/en/creative-cities/gang...
43   https://www.unesco.org/en/creative-cities/ashg...
296  https://www.unesco.org/en/creative-cities/gran...

In [18]:
duplicate_counts = df['City Name'].value_counts()
print(duplicate_counts[duplicate_counts > 1])

City Name
Ashgabat     2
Gangneung    2
Valencia     2
Granada      2
Name: count, dtype: int64

In [19]:
df = df.drop_duplicates(subset='City Name', keep='first')
df = df.reset_index(drop=True)

In [21]:
check(df)

        column   dtype  instances  unique  sum_null  duplicates
0    City Name  object        349     349         0           0
1     Category  object        349       7         0           0
2  Description  object        349     349         0           0
3         Link  object        349     349         0           0

In [22]:
df.to_csv('data.csv', index=False)
df.to_excel('data.xlsx', index=False)
with open('data.json', 'w') as json_file:
    json.dump(extracted_data, json_file, indent=4)